@import 'tailwindcss';

/* TailwindCSS Plugins */
@plugin "@tailwindcss/typography";
@plugin 'tailwind-scrollbar';

/* TailwindCSS Config */
@custom-variant dark (&:where(.dark, .dark *));

/* Root Colors (Light and Dark mode) */
:root {
  --background: var(--color-white);
  --foreground: var(--color-gray-950);
}

.dark:root,
[data-theme='dark']:root {
  --background: var(--color-gray-950);
  --foreground: var(--color-white);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-gray-950);
    --foreground: var(--color-white);
  }
}

/* TailwindCSS Theme Settings */
@theme inline {
  /* Fonts */
  --font-sans:
    'Inter Variable', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  /* --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */

  /* Colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/* Global Styles */
html,
body {
  @apply bg-background text-foreground min-h-dvh scroll-smooth font-sans antialiased;
}
