@import 'tailwindcss';

/* TailwindCSS Config */
@custom-variant dark (&:where(.dark, .dark *));
@plugin "@tailwindcss/typography";
@plugin "tailwindcss-animate";

/* Root Colors (Light and Dark mode) */
:root {
  --background: var(--color-white);
  --foreground: var(--color-gray-950);
}

.dark:root,
[data-theme='dark']:root {
  --background: var(--color-gray-950);
  --foreground: var(--color-white);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-gray-950);
    --foreground: var(--color-white);
  }
}

@theme {
  /* TailwindCSS Fonts */
  --font-sans: 'Inter Variable', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';

  /* TailwindCSS Colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/* Theme CSS code */
html,
body {
  @apply bg-background text-foreground min-h-dvh scroll-smooth font-sans antialiased;
}
